@media (min-width: 641px) and (max-width: 1024px) {
    .discover-grid {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: start;
        gap: 1.5rem;
    }

    .card img {
        width: 100%;
        height: auto;
    }
}