header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    flex-wrap: nowrap;
    background-color: lightcyan;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 1
}

.logo-container img {
    width: 44px;
    height: 44px;
}

.site-title {
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
}

.hamburger {
    display: flex;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.navigation {
    display: none;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
}

.navigation.open {
    display: flex;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li {
    border-bottom: 1px solid #ddd;
}

.navigation a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: #333;
}

.navigation a.active {
    background-color: darkcyan;
    color: black;
    font-weight: bold;
}

body {
    background-color: aliceblue;
}

h1 {
    font-size: large;
    font-weight: bold;
}

main {
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background: #008b8b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

form input[type="submit"]:hover {
    background: #444;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.membership-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
}

.card {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px darkcyan;
    text-align: center;
    animation: fadeIn 1.2s ease-in forwards;
}

.card h2 {
    margin-top: 0;
}

.card a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: darkcyan;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease;
}

.card a:hover {
    background: #7a7a7a;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    text-align: center;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
}

.footer-center {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}