html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    background-color: transparent
}

img {
    border-style: none;
    max-width: 100%;
    height: auto
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button {
    overflow: visible
}

button:focus {
    outline: 2px solid Highlight;
    outline-offset: 2px
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

p {
    margin: 0
}