@media (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 44px 1fr;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid #eee;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-start;
    }

    .navigation li {
        border: none;
    }

    .navigation a {
        border: none;
        padding: 1rem;
    }

    .course-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}