@media (min-width: 765px) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 44px 1fr;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid #eee;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-start;
    }

    .navigation li {
        border: none;
    }

    .navigation a {
        border: none;
        padding: 1rem;
    }

    .intro {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
        align-items: stretch;
    }

    .about,
    .photo {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about p {
        margin-top: 0;
        margin-bottom: auto;
    }

    .course-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}